<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2a12de54-ec9d-4d1a-9e50-ae17ac4c9be1" Alias="[BlockGrid] - Footer Content" Level="2">
  <Info>
    <Name>[BlockGrid] - Footer Content</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "BlockGroups": [
    {
      "key": "01b4da6d-016a-48de-8b20-6b8908b89bf6",
      "name": "Layout"
    },
    {
      "key": "fe7397c9-4515-4e15-b317-925b1f245b14",
      "name": "Modules"
    }
  ],
  "Blocks": [
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "left",
          "columnSpan": 4,
          "createLabel": "Add footer content",
          "key": "0c1a6790-6607-4666-b6c4-50ed2cb49a98",
          "maxAllowed": 1,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "48f06441-72a1-4cac-acb5-f125ef88ead5",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            },
            {
              "elementTypeKey": "927f3142-2ec3-4c5a-8822-dc9e4738746e",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            }
          ]
        },
        {
          "alias": "middle",
          "columnSpan": 4,
          "createLabel": "Add footer content",
          "key": "7ffb2f36-a6d5-4689-b448-432c5526ddd4",
          "maxAllowed": 1,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "48f06441-72a1-4cac-acb5-f125ef88ead5",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            },
            {
              "elementTypeKey": "927f3142-2ec3-4c5a-8822-dc9e4738746e",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            }
          ]
        },
        {
          "alias": "right",
          "columnSpan": 4,
          "createLabel": "Add footer content",
          "key": "5b63dbed-7af9-4caf-b36e-da6c8384c182",
          "maxAllowed": 1,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "48f06441-72a1-4cac-acb5-f125ef88ead5",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            },
            {
              "elementTypeKey": "927f3142-2ec3-4c5a-8822-dc9e4738746e",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            }
          ]
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "03d63d90-16b4-45c7-bdf8-df525f00d9fd",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "01b4da6d-016a-48de-8b20-6b8908b89bf6",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "48f06441-72a1-4cac-acb5-f125ef88ead5",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "fe7397c9-4515-4e15-b317-925b1f245b14",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.Community.BlockPreview/views/block-preview.html"
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "927f3142-2ec3-4c5a-8822-dc9e4738746e",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "fe7397c9-4515-4e15-b317-925b1f245b14",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.Community.BlockPreview/views/block-preview.html"
    }
  ],
  "CreateLabel": null,
  "GridColumns": null,
  "LayoutStylesheet": null,
  "MaxPropertyWidth": null,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>