<?xml version="1.0" encoding="utf-8"?>
<DataType Key="972e2394-815a-43c4-a04f-f19574d8ec6d" Alias="Home Page - Color 1 - Color Picker" Level="1">
  <Info>
    <Name>Home Page - Color 1 - Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [],
  "UseLabel": false
}]]></Config>
</DataType>