<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5d07f6e3-d82f-456b-ad9f-da81b0e7d680" Alias="Home Page - Color 1 - Eye Dropper Color Picker" Level="1">
  <Info>
    <Name>Home Page - Color 1 - Eye Dropper Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker.EyeDropper</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowAlpha": false,
  "ShowPalette": true
}]]></Config>
</DataType>