<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9a6466c5-457e-48f7-8dcf-8281a65d695c" Alias="Home Page - Color 2 - Eye Dropper Color Picker" Level="1">
  <Info>
    <Name>Home Page - Color 2 - Eye Dropper Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker.EyeDropper</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowAlpha": false,
  "ShowPalette": true
}]]></Config>
</DataType>