<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f290d122-9140-4bc1-9bc9-31f33499d620" Alias="[MediaPicker] - Icon Picker (SVG)" Level="2">
  <Info>
    <Name>[MediaPicker] - Icon Picker (SVG)</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "umbracoMediaVectorGraphics",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": null
  }
}]]></Config>
</DataType>