<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7f3ab9a5-79b7-437f-aa2c-7833a3c5560f" Alias="[MultiUrlPicker] Single URL Picker" Level="2">
  <Info>
    <Name>[MultiUrlPicker] Single URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>