<?xml version="1.0" encoding="utf-8"?>
<DataType Key="35ab0aab-64d4-4c48-bfff-70b6d00c0661" Alias="[Toggle] Default True (1)" Level="2">
  <Info>
    <Name>[Toggle] Default True (1)</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>