<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a54418be-9a31-467a-9d3b-fba5cf1c768a" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is the main home page for a website</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="619c3924-edc0-47bb-9387-d301344b3d6b">contentProperties</Composition>
      <Composition Key="f73abf2f-f848-4334-bcb7-25deb76a6ff4">headerPropeties</Composition>
      <Composition Key="3e5b632f-0b8a-40d3-b29f-900d83900025">sEOProperties</Composition>
      <Composition Key="0027dbd5-e227-49bf-9c01-720d6cf93a0f">taggingProperties</Composition>
      <Composition Key="266f3ac9-c82a-42a4-a324-6a0dd7eaa1a7">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="82f3bb5e-f042-4f0c-a088-10786193fb4d">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="3b38eca5-a378-47e2-a5f0-12d8b4241bcf" SortOrder="0">contentPage</ContentType>
    <ContentType Key="c60aadcd-6605-4555-9f42-d13a2f603c54" SortOrder="1">searchPage</ContentType>
    <ContentType Key="c5b060ed-78b7-46ef-8652-ccda485f4343" SortOrder="2">siteSettings</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>