<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="66a84132-0c2e-4a7d-b348-9617ce4b2f6d" Alias="reusableContentRepository" Level="2">
  <Info>
    <Name>Reusable Content Repository</Name>
    <Icon>icon-files color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="923eb5f0-7cc1-438f-bad1-bdea2533bea2" SortOrder="0">reusableContentItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>